* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo img{
    max-width: 120px;
    height: auto;

}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all.42s ease;
}
.navmenu a:hover{
    color: yellow;
}
.nav-icon{
    display: flex;
    align-items: center;

}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: yellow;
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;


}
section{
    padding: 5% 10%;


}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg1.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;

}
.main-text h5{
    color:red;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;

}
.main-text h1{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: #2c2c2c;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;


}

/* button style  */

.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;

}
.main-btn:hover{
    background-color: black;
    color: #fff;

}
.main-btn{
    vertical-align: middle;
}

/* small button style for add to cart and other buttons */

.small-btn{
    font-weight: 400;
    padding: 4px 12px;
    cursor: pointer;
}


/* finishing the small button style */

.down-arrow{
    position: absolute;
    top:85%;
    right: 11%;

}
.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 12px 12px;

}
.down i:hover{
    background-color: #2c2c2c;
    color: #fff;
    transition: all .42s ease;

}
/*style table panier*/
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background-color: #f5f5f5;
}

thead th {
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

tbody td {
    text-align:center;
    padding: 10px;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
tbody td img {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.titre{
    display:flex;
    justify-content: center;
    text-align: center;
    padding: 0 0 0 30px;
}

/*hada dyal quntite*/
.quantity-btn {
    cursor: pointer;
    background-color:#c3f7cf;
    color: white;
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px; 
    border-radius: 5px;
  }