* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo img{
    max-width: 120px;
    height: auto;

}
.navmenu{
    display: flex;
}
.navmenu a{
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all.42s ease;
}
.navmenu a:hover{
    color: red;
}
.nav-icon{
    display: flex;
    align-items: center;
    

}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: red;
}
#menu-icon{
    font-size: 35px;
    color: black;
    z-index: 10001;
    cursor: pointer;
}

section{
    padding: 5% 10%;


}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(images/BACK.jpg) ;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;

    }
    



.main-text h5{
    color:red;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;

}
.main-text h1{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: #2c2c2c;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;


}

/* button style  */

.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;

}
.main-btn:hover{
    background-color: black;
    color: #fff;

}
.main-btn{
    vertical-align: middle;
}

/*  asmae small button style for add to cart and other buttons */

.small-btn{
    font-weight: 400;
    padding: 4px 12px;
    cursor: pointer;
}


/* finishing the small button style */

.down-arrow{
    position: absolute;
    top:85%;
    right: 11%;

}
.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 12px 12px;

}
.down i:hover{
    background-color: #2c2c2c;
    color: #fff;
    transition: all .42s ease;

}
header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);

}
/*trending section css*/
.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}
.center-text span{
    color: red;
}
.products{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}
.row{
    position: relative;
    transition: all .40s;

}
.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}
/*had l3ia Bach mnin kn9oso l product kykbro o ysraro*/
.row img:hover{
    transform: scale(0.9);

}
/* had l3iba bach kol product li jdid omzl matba3 wla tba3 tji lfo9*/
.product-text h5{
    position: absolute;
    top: 13px;
    left:13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;

}
/*hadi bach dak l9alb heart icon Kayji fjanb bhal ila ymkn lik dir icon 3la product*/
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
    
}
/*Hadi l hover dyal dak l heart*/
.heart-icon:hover{
    color: red;

}
/*bach lwant najmat dyal ratting*/
.ratting{
    color: #FF8C00;
    font-size: 18px;
}
/*hadi bach 9adina lkhat li taht kola Product*/
.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;

}
/*hadi bach bdalt lkhat lon dyalo li taht kola product*/
.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
    /*bach swbna dik back mor taht l product*/
}
.client-reviews{
    background-color: #F3F4F6;
}
.reviews{
    text-align: center;

}
.reviews h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.reviews img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 10px 0;

}
.reviews p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
.reviews h2{
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;

}
/*style table panier*/
/*Yassine css*/

table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background-color: #f5f5f5;
}

thead th {
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

tbody td {
    text-align:center;
    padding: 10px;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
tbody td img {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.titre{
    display:flex;
    justify-content: center;
    text-align: center;
    padding: 0 0 0 30px;
    margin:20px 0px;
}
.titre-hover:hover{
    color: red;
}

/*contact-section*/
 .products_panier {
    display: inline;

} 
.contact{
    background-color:#f3f4f6;

}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
    gap: 3rem;
    
}
.first-info img{
    width: 200px;
    height: auto;

}
.contact-info h4{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: red;

}
.social-icon i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}
.social-icon i:hover{
    transform: scale(1.3);
}
.end-text{
    background-color: #edfff1;
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: #111;
    text-transform: capitalize;
}

/*hada dyal quntite*/
.quantity-btn {
    cursor: pointer;
    background-color:#c3f7cf;
    color: white;
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px; 
    border-radius: 5px;
  }